main {
    // border: 2px solid red;

    > #gallery {
        z-index: 0;

        // border: 2px solid blue;

        width: 700px;
        max-width: 90vw;

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: calc(var(--default-gap) / 2);

        > div {
            // border: 2px solid green;
            max-width: 90vw;

            display: grid;
    
            > img {
                display: grid;
                // border: 2px solid yellow;

                width: 100%;
                object-fit: contain;
            }
        }
    }
}

#image-modal {
    > button {
        --font-size-button: 10rem;

        position: absolute;
        width: min-content;
        z-index: 1;

        font-size: var(--font-size-button);
        color: var(--white);
        background-color: transparent;

        margin: 0;
        padding: 0;

        &.active, &:hover {
            color: var(--link-hover-text);
        }
        &#previous {
            top: calc(50% - (var(--font-size-button) / 2));
            left: 0;
        }
        &#next {
            top: calc(50% - (var(--font-size-button) / 2));
            right: 0;
        }
    }
}

@media screen and (max-width: 674px) {
    main {
        #gallery {
            grid-template-columns: 1fr;
            > div {
                width: 98vw;
            }
        }
    }
}
